* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  font-weight: 100;
}

h2 {
  font-size: 25px;
  font-weight: medium;
  letter-spacing: 0.06em;
}

p {
  font-size: 1.2em;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.ai-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.595);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.ai-overlay img {
  width: 200px;
  height: 200px;
}

.controls {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-bar-black {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
}

.resize-handle {
  width: 2px;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.right-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.resize-handle-top {
  height: 2px;
  width: 100%;
  cursor: ns-resize;
  position: absolute;
  bottom: 0;
  right: 0;
}

.display {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}

@media (orientation: landscape) {
  .display {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .display {
    flex-direction: column;
  }
}

/* COVER PAGE */

.cover-date {
  font-size: 2.5em;
}

.cover-time {
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.797);
  display: flex;
}

.cover-weather {
  width: 6em;
}

.cover-am {
  margin-top: 0.9em;
  margin-left: 0.5em;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.797);
}

.cover-page {
  display: flex;
  padding: 2em 3em;
  width: 100%;
  height: 800px;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url("/public/images/backgrounds/green-leaf-background.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
}

.cover-temp {
  font-size: 50px;
  font-weight: bold;
  margin: 0.1em;
}

.plantasia {
  border-radius: 10px;
  width: 6em;
  margin: 1em;
}
.cover-desc {
  font-size: 20px;
  font-weight: medium;
  letter-spacing: 0.06em;
  margin: 0.7em;
}

.audio-title {
  font-size: 20px;
  font-weight: medium;
  letter-spacing: 0.06em;
  margin: 0.2em;
}

.cover-location {
  font-size: 18px;
  font-weight: normal;
  color: grey;
  margin: 0.5em;
}

.time {
  font-size: 24px;
  margin-bottom: 20px;
}

.sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 350px;
  margin-top: 1.5em;
}

.section {
  border: solid 2px rgba(128, 128, 128, 0.243);
  border-radius: 30px;
  padding: 20px;
  width: 40%;
  background-color: #2e384395;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
  text-align: left;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 22px;
  font-weight: medium;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 4px rgba(25, 25, 25, 0.366);
}

.content {
  text-align: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.play {
  width: 180px;
  margin-top: 1em;
}
/* WEATHER */

/* HOME PAGE */
/* @keyframes moveToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-100px);
  }
}

.home-layout.transitioning .top-bar .moving {
  animation: moveToTop 0.3s forwards;
} */

.top-bar {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  margin-top: 1em;
}

.home-layout {
  display: flex;
  padding: 3em 4em;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  overflow: scroll;
  background-image: url("/public/images/backgrounds/home.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
}

.home-weather-location {
  font-size: 1.5em;
}

.home-weather-des {
  color: rgb(166, 166, 166);
  font-size: 1em;
}

.home-weather-temp {
  font-size: 3em;
}

.home-date {
  font-size: 1.7em;
  font-weight: 100;
}

.home-weather-image {
  width: 110px;
}

.home-weather {
  border-radius: 10px;
  background-color: rgba(44, 44, 44, 0.248);
  display: flex;
  padding: 20px;
  width: 410px;
  justify-content: space-around;
  box-shadow: 2px 2px 10px#29292988;
}

.home-time {
  font-size: 6em;
}

.home-page-apps {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 4.5em;
  margin-bottom: 4em;
}

@media (max-width: 1200px) {
  .home-page-apps {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .home-page-apps {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .home-page-apps {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .home-page-apps {
    grid-template-columns: 1fr;
  }
}

/* APP CARD */

.app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.app-icon {
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 2px 2px 18px#29292988;
  margin-bottom: 1em;
  margin-top: 0;
}

.app-name {
  font-size: 18px;
}

/* MENU */

.side-menu {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  padding: 15px, 15px;
  bottom: -55px;
  right: 50px;
  width: 120px;
  background-color: rgba(100, 100, 100, 0.222);
  border-radius: 0px 0px 10px 10px;
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  scale: 1.5;
}

.menu-separator {
  width: 25px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.438);
}

/* FRIDGE CONTENTS */

.fridge-contents {
  padding: 30px;
  background-image: url("/public/images/backgrounds/rock.png");
  background-size: cover;
  overflow: hidden;
}

.filter-labels {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  position: relative;
}

.filter-label {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: relative;
  color: rgba(255, 255, 255, 0.479);
}

.filter-label.active {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.filter-label.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  animation: slide 0.3s forwards;
}

@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 10px;
}

.background {
  height: 450px;
  overflow: hidden;
  background-color: #1a1a1a;
  padding: 40px 20px;
  border-radius: 20px 20px 0px 0px;
}

.grid-item {
  text-align: center;
  margin-bottom: 1em;
}

.grid-item img {
  max-width: 50%;
  border-radius: 8px;
  margin-bottom: 0.5em;
}

.description {
  margin-top: 5px;
  font-size: 16px;
  color: white;
  margin: 0.2em;
}

.days-left {
  font-size: 14px;
  color: rgba(119, 118, 118, 0.721);
}

.see-recipes-button {
  margin-top: 6em;
  margin-left: 2em;
  padding: 20px 35px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  z-index: 1000;
  font-weight: bold;
}

/* MEAL PLAN */
.meal-plan {
  padding: 2em;
  background-image: url("/public/images/backgrounds/green.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
}

.meal-title {
  position: fixed;
  font-size: 30px;
}

.filters {
  display: flex;
  margin-top: 3em;
  margin-bottom: 0;
  overflow: hidden;
}

.filter-button {
  background-color: white;
  border: 1px solid green;
  border-radius: 25px;
  padding: 20px 20px;
  margin-right: 2em;
  cursor: pointer;
  font-size: 20px;
  color: green;
  box-shadow: 2px 2px 15px#000000;
}

.filter-button.active {
  background-color: #39aa48;
  color: white;
}

.posts-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  margin-top: 2em;
  border: none;
  scrollbar-width: none;
}

.post-section {
  display: flex;
  align-items: center;
  max-width: 50%;
  position: relative;
  margin-bottom: 3em;
}

.post-overlay {
  position: absolute;
  top: 15px;
  left: 20px;
  color: white;
  padding: 10px;
}

.post {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  width: 300px;
  flex-direction: column;
  border: none;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-info {
  position: absolute;
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 2em;
  right: 0;
}

.post-title {
  font-size: 2em;
  display: flex;
  text-align: end;
  max-width: 300px;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 6px rgba(25, 25, 25, 0.535);
}

.post-time {
  display: flex;
  text-align: end;
  max-width: 300px;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 6px rgba(25, 25, 25, 0.425);
}

/* RECIPES */

.recipe-page {
  padding: 2em;
  background-color: black;
  color: white;
  overflow: auto;
}

.step-section {
  background-color: rgba(255, 255, 255, 0.101);
  display: flex;
  align-items: center;
  max-width: 50%;
  position: relative;
  margin-bottom: 3em;
  border-radius: 10px;
}

.recipe-time {
  margin-top: 1em;
}

.ingredients-pic {
  width: 700px;
  margin-top: 0.2em;
  margin-bottom: 3em;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2em;
}

.title-recipe {
  font-size: 30px;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2em;
}

.ingredient-image {
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.ingredient-name {
  font-size: 22px;
}

.view-buttons {
  margin-top: 2em;
  margin-bottom: 2em;
}

.method-list {
  margin-top: 1em;
}

/* Memo */

.memo {
  background-color: rgba(128, 128, 128, 0.201);
  padding: 20px;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-type-selection {
  display: flex;
  gap: 20px;
}

.sticky-note {
  border-radius: 30px;
  height: 310px;
  background-color: rgba(255, 255, 255, 0.967);
  box-shadow: 2px 2px 15px#cacaca;
  padding: 25px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: none;
}

.sticky-posts-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.memo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: calc(100vh - 40px); /* Adjust as needed for padding */
  box-sizing: border-box;
  overflow: hidden;
}

.memo-text {
  font-family: "Patrick Hand", cursive; /* Handwriting font */
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
}

/* Add Button */
.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  z-index: 1001;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

.add-button.rotate {
  transform: rotate(45deg);
  background-color: #dc3545;
}

/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Buttons */
.modal-buttons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 90px;
  right: 20px;
}

.modal-buttons button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-btn-audio {
  width: 20px;
}

.icon-btn-pencil {
  width: 20px;
  height: 35px;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

/* Container for all memo cards */
.sticky-posts-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  overflow-y: auto;
  height: calc(100vh - 40px); /* Adjust as needed */
}

/* Memo card styles */
.memo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 100%; /* Full screen height */
  box-sizing: border-box;
  overflow: hidden;
}

/* Memo text */
.memo-text {
  font-family: "Patrick Hand", cursive;
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
}

.text-modal-overlay {
  position: fixed;
  top: 15%;
  left: 15%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Centered modal content */
.text-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input and textarea styling */
.text-modal-content input,
.text-modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Button styling */
.text-modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #dadada;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 4em;
}

.say {
  font-weight: bold;
}

.text-modal-content button:hover {
  background-color: #0056b3;
}

/* Mic icon container */
.mic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-top: 4em;
}

.mic-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #c82333;
}

/* CALENDAR */

.calendar {
  width: 100%;
}

/* RECIPES PAGE */
.recipes-page {
  padding: 50px;
  background-image: url("/public/images/backgrounds/rock.png");
  background-size: cover;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: row;
}

.header {
  font-size: 30px;
  max-width: 300px;
  margin-bottom: 20px;
  font-weight: medium;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5em;
}

.ingredients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 50%;
  height: 10em;
  margin-top: 8em;
}

.ingredient-item {
  text-align: center;
  width: 5em;
}

.ingredient-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-section {
  display: flex;
  align-items: center;
  max-width: 50%;
  position: relative;
  margin-left: 5em;
}

.recipe-image {
  width: 390px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 60px;
  left: 20px;
  color: white;
  padding: 10px;
}

.highlight {
  font-size: 15px;
  font-weight: light;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  width: max-content;
  padding: 10px 15px;
  margin-bottom: 1em;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.step {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.085);
  padding: 25px;
  margin: 10px;
  position: relative;
  width: 350px;
  display: flex;
  border: none;
}

.steps-container {
  display: flex;
  overflow: auto;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.step-text {
  font-size: 22px;
  text-align: center;
  line-height: 1.4;
  margin: 1em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.657);
}
